.full-row{
    
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
  
}

.square{
    width: 10rem;
    height: fit-content;
  
    margin: 0;
    
}

.col .square {
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 10rem;
height: 10rem;
}