*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poiret One', cursive;
  font-size: 1.15rem;
}

/* import from google font */
body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p{
  line-height: 150%;
  max-width: 50ch;
  padding: 1rem;;
  margin-bottom: 2rem;
}


 h1 {

  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: larger;
}

h2{
  
  margin-bottom: 2rem;
  text-transform: uppercase;
} 

.text-center{
  text-align: center;
}

.text-justify{
  text-align: justify;
}

.full-row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  align-content: center;
 
  width: 100%;
}


.img50{
  height: 35rem;
  width: 48vw;

}

/* change this img setting */

.img-fit{
  
  width: 500%;
  height: 500%;
 
}

.col{
  display: flex;
  flex-direction: column;
  margin:0;
  padding-top:2rem;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: space-around;
  width: 49%;
 
}

.textBlock{
max-width: 60ch;
}

.border{
 border: solid green 2px;
 margin: 0;
 
}

.square{
  height: 20rem;
  width: 20rem;
  
}

.full-block{
  
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}